<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.festivalBooking.festival.dao.FestivalDAO">
	<insert id="insertFestival" parameterType="com.festivalBooking.festival.model.Festival"
	useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `festival`
		(
			`userId`
			, `title`
			, `date`
			, `startTime`
			, `endTime`
			, `place`
			, `address`
			, `price`
			, `priceOffline`
			, `imagePath`
			, `lineUp`
			, `explain`
			, `warning`
			, `festivalMaster`
			, `askRoot`
			, `isTimeOver`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{title}
			, #{date}
			, #{startTime}
			, #{endTime}
			, #{place}
			, #{address}
			, #{price}
			, #{priceOffline}
			, #{imagePath}
			, #{lineUp}
			, #{explain}
			, #{warning}
			, #{festivalMaster}
			, #{askRoot}
			, #{isTimeOver}
			, NOW()
			, NOW()
		)
	</insert>
	
	<select id="getFestivalList" resultType="map">
		SELECT * FROM `festival`
	</select>

	<select id="getFestivalByFestivalId" parameterType="int"
	resultType="com.festivalBooking.festival.model.Festival">
		SELECT * FROM `festival`
		WHERE `id` = #{festivalId}
	</select>
</mapper>