@charset "UTF-8";
a {text-decoration:none; color:#000;}
a:hover {text-decoration:none; color:#000;}

header {height:100px; background-color:black;}
.header {height:100px;}

nav{height: 50px; background-color: rgb(180, 36, 31);}
nav .nav-link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav .nav-item:hover{background-color: darkcyan;}

.white-text{color: #fff;}
.yellow-text{color: yellow;}

#loginBtn{color: #fff; text-decoration: none;}
#joinBtn{color: #fff; text-decoration: none;}

.contents{height: 1600px;}
.festival-title{
    color: blueviolet;
    font-weight: bold;
}


.sign-up-box {width:650px; background-color:#ebebeb; margin-top:20px; box-shadow:5px 5px 5px 5px #BDC0C0;}
.sign-up-subject {margin:20px; font-weight:bold;}

.shadow-box {width:550px; background-color:#ebebeb; margin-top:20px; box-shadow:5px 5px 5px 5px #BDC0C0;}
.login-box {width:400px;}

.contents-box {width:650px;}
#writeTextArea {height:100px;}