@charset "UTF-8";
a , a:hover {text-decoration:none;}

header {height:100px; background-color:black;}

nav{height: 50px; background-color: rgb(180, 36, 31);}
nav .nav-link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav .nav-item:hover{background-color: darkcyan;}

.white-text{color: #fff;}
.yellow-text{color: yellow;}
.bold{font-weight: bold;}

#loginBtn{color: #fff; text-decoration: none;}
#joinBtn{color: #fff; text-decoration: none;}
.button, .button:hover{color: #fff; text-decoration: none;}

.contents{minheight:700px;}
.festival-title{
    color: blueviolet;
    font-weight: bold;
}
.festival-info-box {height:100px;}
.book-font-size {font-size: 18px;}


.sign-up-box {width:650px; background-color:#ebebeb; margin-top:20px; box-shadow:5px 5px 5px 5px #BDC0C0;}
.sign-up-subject {margin:20px; font-weight:bold;}

.login-box {width:400px;}

.title-font-size {font-size:25px;}
.valueTitle-font-size {font-size:20px;}
.value-font-size {font-size:17px;}

.alert-box {width:400px; background-color:#ebebeb; margin-top:20px;}
.book-confirm-box {width:400px; height:250px; background-color:darkcyan; margin-top:20px;}

.contents-box {width:650px; background-color:#333;}
#writeTextArea {height:100px;}


/* on / off 체크박스 */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align:middle;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

p {
	margin:0px;
	display:inline-block;
	font-size:15px;
	font-weight:bold;
}