@charset "UTF-8";
a , a:hover {text-decoration:none;}

header {height:100px; background-color:black;}

nav{height: 50px; background-color: rgb(180, 36, 31);}
nav .nav-link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav .nav-item:hover{background-color: darkcyan;}

.white-text{color: #fff;}
.yellow-text{color: yellow;}
.bold{font-weight: bold;}

#loginBtn{color: #fff; text-decoration: none;}
#joinBtn{color: #fff; text-decoration: none;}
.button, .button:hover{color: #fff; text-decoration: none;}

.contents{height: 1600px;}
.festival-title{
    color: blueviolet;
    font-weight: bold;
}

.sign-up-box {width:650px; background-color:#ebebeb; margin-top:20px; box-shadow:5px 5px 5px 5px #BDC0C0;}
.sign-up-subject {margin:20px; font-weight:bold;}

.login-box {width:400px;}

.alert-box {width:400px; background-color:#ebebeb; margin-top:20px;}
.book-confirm-box {width:400px; height:250px; background-color:darkcyan; margin-top:20px;}

.contents-box {width:650px; background-color:#333;}
#writeTextArea {height:100px;}